<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine List</title>
</head>
<body>

    <h1>Wine List</h1>
    <a href="{% url 'wine_create' %}">Add new wine</a>
    <ul>
        {% for wine in wines %}
            <li>
                <a href="{% url 'wine_detail' wine.pk %}">{{ wine.name }}</a> - {{ wine.category }} - {{ wine.quantity }}
                <a href="{% url 'wine_update' wine.pk %}">Edit</a>
                <a href="{% url 'wine_delete' wine.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    
</body>
</html>